@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mierda Javi</h1>
</div>

<div class="row">
   <h2>Páginas de puta mierda</h2>
    <hr />
    <nav>
        <a href="./Marca/Index.cshtml">Día 1: Crear una la marca</a>
        <a href="./Views/Marca/Desplegable.cshtml">Día 1: Desplegable de la marca</a>
        <a href="./Views/Serie/Create.cshtml">Día 2: Crear una serie</a>
    </nav>
</div>