﻿@model ExamenJGT.Models.Pedido

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Pedido</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.FechaExpedicion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FechaExpedicion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FechaExpedicion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClienteID, "ClienteID", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("ClienteID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ClienteID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}


<table>
    <thead>
        <tr>
            <th>Numero Pedido</th>
            <th>FECHA</th>
            <th>Cliente</th>
            <th>Detalle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.PedidosExistentes)
        {
            <tr>
                <td>
                    @item.NumeroPedido
                </td>
                <td>
                    @item.FechaExpedicion
                </td>
                <td>
                    @item.Cliente.Nombre
                </td>
                <td>
                    <!-- no funciona -->
                    @*@Html.ActionLink("Create", "Create", "Detalle", new { PedidoID = item.ID }, null)*@ 
                    <a href="/Detalle/Create/?PedidoID=" + @item.ID>Detalles</a>
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to List", "Create")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
