﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Ejercicio1.aspx.cs" Inherits="Ejercicio1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Primero</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:DropDownList ID="DropDownList1" runat="server">
            <asp:ListItem Value="50" Text="Zaragoza" />
            <asp:ListItem Value="28" Text="Madrid" />
        </asp:DropDownList>


    </div>
    </form>
</body>
</html>
