<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAlumnoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAlumnoLabel_nif}" for="nif" />
                    <h:inputText id="nif" value="#{alumnoController.selected.nif}" title="#{bundle.CreateAlumnoTitle_nif}" required="true" requiredMessage="#{bundle.CreateAlumnoRequiredMessage_nif}"/>
                    <h:outputLabel value="#{bundle.CreateAlumnoLabel_nomAlumno}" for="nomAlumno" />
                    <h:inputText id="nomAlumno" value="#{alumnoController.selected.nomAlumno}" title="#{bundle.CreateAlumnoTitle_nomAlumno}" required="true" requiredMessage="#{bundle.CreateAlumnoRequiredMessage_nomAlumno}"/>
                    <h:outputLabel value="#{bundle.CreateAlumnoLabel_apeAlumno}" for="apeAlumno" />
                    <h:inputText id="apeAlumno" value="#{alumnoController.selected.apeAlumno}" title="#{bundle.CreateAlumnoTitle_apeAlumno}" required="true" requiredMessage="#{bundle.CreateAlumnoRequiredMessage_apeAlumno}"/>
                    <h:outputLabel value="#{bundle.CreateAlumnoLabel_foto}" for="foto" />
                    <h:inputText id="foto" value="#{alumnoController.selected.foto}" title="#{bundle.CreateAlumnoTitle_foto}" required="true" requiredMessage="#{bundle.CreateAlumnoRequiredMessage_foto}"/>
                    <h:outputLabel value="#{bundle.CreateAlumnoLabel_codCurso}" for="codCurso" />
                    <h:selectOneMenu id="codCurso" value="#{alumnoController.selected.codCurso}" title="#{bundle.CreateAlumnoTitle_codCurso}" required="true" requiredMessage="#{bundle.CreateAlumnoRequiredMessage_codCurso}">
                        <f:selectItems value="#{cursoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{alumnoController.create}" value="#{bundle.CreateAlumnoSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{alumnoController.prepareList}" value="#{bundle.CreateAlumnoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAlumnoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
