﻿@model IEnumerable<ExamenJGT.Models.ClasePrueba>

@{
    ViewBag.Title = "Buscar";
}

<h2>Buscar</h2>

<form method="get">

    <input type="text" id="nombre" name="nombre" value="" placeholder="busca" />
    <button type="submit">Clcikasd</button>
</form>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mensaje)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Mensaje)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
