<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditAlumnoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditAlumnoLabel_nif}" for="nif" />
                    <h:inputText id="nif" value="#{alumnoController.selected.nif}" title="#{bundle.EditAlumnoTitle_nif}" required="true" requiredMessage="#{bundle.EditAlumnoRequiredMessage_nif}"/>
                    <h:outputLabel value="#{bundle.EditAlumnoLabel_nomAlumno}" for="nomAlumno" />
                    <h:inputText id="nomAlumno" value="#{alumnoController.selected.nomAlumno}" title="#{bundle.EditAlumnoTitle_nomAlumno}" required="true" requiredMessage="#{bundle.EditAlumnoRequiredMessage_nomAlumno}"/>
                    <h:outputLabel value="#{bundle.EditAlumnoLabel_apeAlumno}" for="apeAlumno" />
                    <h:inputText id="apeAlumno" value="#{alumnoController.selected.apeAlumno}" title="#{bundle.EditAlumnoTitle_apeAlumno}" required="true" requiredMessage="#{bundle.EditAlumnoRequiredMessage_apeAlumno}"/>
                    <h:outputLabel value="#{bundle.EditAlumnoLabel_foto}" for="foto" />
                    <h:inputText id="foto" value="#{alumnoController.selected.foto}" title="#{bundle.EditAlumnoTitle_foto}" required="true" requiredMessage="#{bundle.EditAlumnoRequiredMessage_foto}"/>
                    <h:outputLabel value="#{bundle.EditAlumnoLabel_codCurso}" for="codCurso" />
                    <h:selectOneMenu id="codCurso" value="#{alumnoController.selected.codCurso}" title="#{bundle.EditAlumnoTitle_codCurso}" required="true" requiredMessage="#{bundle.EditAlumnoRequiredMessage_codCurso}">
                        <f:selectItems value="#{cursoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{alumnoController.update}" value="#{bundle.EditAlumnoSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditAlumnoViewLink}"/>
                <br />
                <h:commandLink action="#{alumnoController.prepareList}" value="#{bundle.EditAlumnoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditAlumnoIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
