<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAlumnoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAlumnoEmpty}" rendered="#{alumnoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{alumnoController.items.rowCount > 0}">
                    <h:outputText value="#{alumnoController.pagination.pageFirstItem + 1}..#{alumnoController.pagination.pageLastItem + 1}/#{alumnoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{alumnoController.previous}" value="#{bundle.Previous} #{alumnoController.pagination.pageSize}" rendered="#{alumnoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{alumnoController.next}" value="#{bundle.Next} #{alumnoController.pagination.pageSize}" rendered="#{alumnoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{alumnoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlumnoTitle_nif}"/>
                            </f:facet>
                            <h:outputText value="#{item.nif}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlumnoTitle_nomAlumno}"/>
                            </f:facet>
                            <h:outputText value="#{item.nomAlumno}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlumnoTitle_apeAlumno}"/>
                            </f:facet>
                            <h:outputText value="#{item.apeAlumno}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlumnoTitle_foto}"/>
                            </f:facet>
                            <h:outputText value="#{item.foto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAlumnoTitle_codCurso}"/>
                            </f:facet>
                            <h:outputText value="#{item.codCurso}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{alumnoController.prepareView}" value="#{bundle.ListAlumnoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{alumnoController.prepareEdit}" value="#{bundle.ListAlumnoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{alumnoController.destroy}" value="#{bundle.ListAlumnoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{alumnoController.prepareCreate}" value="#{bundle.ListAlumnoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAlumnoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
