﻿@model IEnumerable<MiConcesionario.Controllers.VehiculoController.VehiculoTotal>



<h2>ResumenProcedure</h2>

<table>
    <thead>
        <tr>
            <th>Matricula</th>
            <th>Color</th>
            <th>Serie</th>
            <th>Marca</th>
        </tr>
    </thead>
    <tbody>
        @foreach (MiConcesionario.Controllers.VehiculoController.VehiculoTotal Dato in Model)
        {
            <tr>
                <td>@Dato.Matricula</td>
                <td>@Dato.Color</td>
                <td>@Dato.NombreMarca</td>
                <td>@Dato.NombreSerie</td>
            </tr>
        }
    </tbody>
</table>