﻿@model IEnumerable<MiConcesionario.Models.Vehiculo>

@{
    ViewBag.Title = "SeleccionarPorFiltros";
}

<h2>SeleccionarPorFiltros</h2>

<form method="get">
    @Html.DropDownList("MarcaID", null, new { htmlAttributes = new { @class = "form-control", onchange="submit()" } })
    @Html.DropDownList("SerieID", null, new { htmlAttributes = new { @class = "form-control", onchange = "submit()" } })
    <button type="submit">Buscar</button>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Serie.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Serie.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
