@{ 
    ViewBag.Title = "Importar";
}

<h2>Importar</h2>

@using (Html.BeginForm("Importar", "Clientes", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("nomArchivo", "XMLClientes.xml")
    <input type="submit" value="Importar"  class="btn btn-default" />
}