<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAsignaturaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListAsignaturaEmpty}" rendered="#{asignaturaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{asignaturaController.items.rowCount > 0}">
                    <h:outputText value="#{asignaturaController.pagination.pageFirstItem + 1}..#{asignaturaController.pagination.pageLastItem + 1}/#{asignaturaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{asignaturaController.previous}" value="#{bundle.Previous} #{asignaturaController.pagination.pageSize}" rendered="#{asignaturaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{asignaturaController.next}" value="#{bundle.Next} #{asignaturaController.pagination.pageSize}" rendered="#{asignaturaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{asignaturaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAsignaturaTitle_codAsignatura}"/>
                            </f:facet>
                            <h:outputText value="#{item.codAsignatura}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAsignaturaTitle_nomAsignatura}"/>
                            </f:facet>
                            <h:outputText value="#{item.nomAsignatura}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListAsignaturaTitle_horas}"/>
                            </f:facet>
                            <h:outputText value="#{item.horas}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{asignaturaController.prepareView}" value="#{bundle.ListAsignaturaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{asignaturaController.prepareEdit}" value="#{bundle.ListAsignaturaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{asignaturaController.destroy}" value="#{bundle.ListAsignaturaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{asignaturaController.prepareCreate}" value="#{bundle.ListAsignaturaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListAsignaturaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
