<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListAutoresTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form>
                <p:dataTable var="item" value="#{autoresController.items}" rows="10" paginator="true" paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}" rowsPerPageTemplate="5,10,15">
                    <p:column headerText="Cod" width="50" style="text-align: center" sortBy="#{item.codAutor}">
                        <h:outputText value="#{item.codAutor}" />
                    </p:column>   
                    <p:column headerText="Nombre" sortBy="#{item.nomAutor}">
                        <h:outputText value="#{item.nomAutor}" />
                    </p:column>
                    <p:column headerText="Apellido 1" sortBy="#{item.apellido1}">
                        <h:outputText value="#{item.apellido1}" />
                    </p:column>
                    <p:column headerText="Apellido 2" sortBy="#{item.apellido2}">
                        <h:outputText value="#{item.apellido2}" />
                    </p:column>
                    <p:column headerText="Fecha de nacimiento" sortBy="#{item.FNac}" width="80" style="text-align: center"><!--es getFNac porque es private, pero no se pone el get-->
                        <h:outputText value="#{item.FNac}"> 
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText><!--establece el formato de fecha-->
                    </p:column>
                    <p:column headerText="Fecha de defuncion" sortBy="#{item.FDef}" width="60" style="text-align: center"><!--es getFNac porque es private, pero no se pone el get-->
                        <h:outputText value="#{item.FDef}"> 
                            <f:convertDateTime pattern="dd/MM/yyyy"/>
                        </h:outputText><!--establece el formato de fecha-->
                    </p:column>
                    <p:column headerText="Edad" width="60" style="text-align: center"><!--es getFNac porque es private, pero no se pone el get-->
                        <h:outputText value="#{autoresController.calcularEdad(item.FNac)}" style="display: #{autoresController.mostrarEdad(item)}"/>                        
                    </p:column>
                    <p:column headerText="Foto" style="text-align: center"> 
                        <p:lightBox styleClass="imagebox" id="lighbox1"><!--para ventana modal, ventana encima vinculada con la de debajo-->
                            <!-- queremos convertir una imagen en un enlace, para ello la marca outputlink, pero el grapicimage tiene que ser tambien de html es decir h no de p primefaces-->
                            <h:outputLink value="/Bliblioteca2/faces/javax.faces.resource/#{item.foto}?ln=Escritores" title="#{item.nomAutor} #{item.apellido1}">
                                <h:graphicImage library="Escritores" name="#{item.foto}" height="45"/>  
                            </h:outputLink>
                        </p:lightBox>
                    </p:column>
                    <p:column headerText="Localidad" sortBy="#{item.localidad}">
                        <h:outputText value="#{item.localidad}"/>                        
                    </p:column>
                    <p:column headerText="Pais" sortBy="#{item.nacionalidad.nomPais}" style="text-align: center">
                        <h:outputText value="#{item.nacionalidad.nomPais}"/>
                           <br/>
                        <h:graphicImage library="banderas" name="#{item.nacionalidad.bandera}" height="45"/>  
                    </p:column>
                   <p:column headerText="">
                        <h:commandLink action="#{autoresController.prepareView}" value="#{bundle.ListAutoresViewLink}"/>
                        <h:outputText value=" "/>
                        <h:commandLink action="#{autoresController.prepareEdit}" value="#{bundle.ListAutoresEditLink}"/>
                        <h:outputText value=" "/>
                        <h:commandLink action="#{autoresController.destroy}" value="#{bundle.ListAutoresDestroyLink}"/>
                    </p:column>
                </p:dataTable>
                <p:dock position="bottom">
                    <p:menuitem value="Crear" icon="/resoures/iconos/writer.png"/>
                    <p:menuitem value="Inicio" icon="/resoures/iconos/home.ico" outcome="/index"/>                  
                </p:dock>
            </h:form>
        </ui:define>
    </ui:composition>
</html>
