<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCursoasignaturaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCursoasignaturaLabel_aula}"/>
                    <h:outputText value="#{cursoasignaturaController.selected.aula}" title="#{bundle.ViewCursoasignaturaTitle_aula}"/>
                    <h:outputText value="#{bundle.ViewCursoasignaturaLabel_nifProfesor}"/>
                    <h:outputText value="#{cursoasignaturaController.selected.nifProfesor}" title="#{bundle.ViewCursoasignaturaTitle_nifProfesor}"/>
                    <h:outputText value="#{bundle.ViewCursoasignaturaLabel_asignatura}"/>
                    <h:outputText value="#{cursoasignaturaController.selected.asignatura}" title="#{bundle.ViewCursoasignaturaTitle_asignatura}"/>
                    <h:outputText value="#{bundle.ViewCursoasignaturaLabel_curso}"/>
                    <h:outputText value="#{cursoasignaturaController.selected.curso}" title="#{bundle.ViewCursoasignaturaTitle_curso}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{cursoasignaturaController.destroyAndView}" value="#{bundle.ViewCursoasignaturaDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewCursoasignaturaEditLink}"/>
                <br />
                <h:commandLink action="#{cursoasignaturaController.prepareCreate}" value="#{bundle.ViewCursoasignaturaCreateLink}" />
                <br />
                <h:commandLink action="#{cursoasignaturaController.prepareList}" value="#{bundle.ViewCursoasignaturaShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewCursoasignaturaIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
