<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListLibrosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
        <h:form>
            <h:selectOneMenu id="unpremio" value="#{autoresController.premio}" valueChangeListener="#{autoresController.obtenerAutoresPremios}">
                <f:selectItems value="#{premiosController.itemsAvailableSelectOne2}"/>
                <f:converter converterId="premiosConverter" />
            </h:selectOneMenu>
            <h:commandButton value="Selecciona" action="#{autoresController.obtenerAutoresPremios}"/>
        </h:form>

        <h:form styleClass="jsfcrud_list_form">     
            <p:dataTable var="item" value="#{autoresController.lista}" style="margin-bottom:40px; width: 70%; float: left" >
                <p:column headerText="autores" sortBy="#{item.autores.nomAutor}">
                    <h:outputText value="#{item.autores.nomAutor}" style="font-weight:bold; color:#01579b; font-size: 18px" />
                </p:column> 
            </p:dataTable>
          
        </h:form>        
         </ui:define>
    </ui:composition>

</html>
