<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateCursoasignaturaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateCursoasignaturaLabel_aula}" for="aula" />
                    <h:inputText id="aula" value="#{cursoasignaturaController.selected.aula}" title="#{bundle.CreateCursoasignaturaTitle_aula}" required="true" requiredMessage="#{bundle.CreateCursoasignaturaRequiredMessage_aula}"/>
                    <h:outputLabel value="#{bundle.CreateCursoasignaturaLabel_nifProfesor}" for="nifProfesor" />
                    <h:selectOneMenu id="nifProfesor" value="#{cursoasignaturaController.selected.nifProfesor}" title="#{bundle.CreateCursoasignaturaTitle_nifProfesor}" required="true" requiredMessage="#{bundle.CreateCursoasignaturaRequiredMessage_nifProfesor}">
                        <f:selectItems value="#{profesorController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateCursoasignaturaLabel_asignatura}" for="asignatura" />
                    <h:selectOneMenu id="asignatura" value="#{cursoasignaturaController.selected.asignatura}" title="#{bundle.CreateCursoasignaturaTitle_asignatura}" required="true" requiredMessage="#{bundle.CreateCursoasignaturaRequiredMessage_asignatura}">
                        <f:selectItems value="#{asignaturaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateCursoasignaturaLabel_curso}" for="curso" />
                    <h:selectOneMenu id="curso" value="#{cursoasignaturaController.selected.curso}" title="#{bundle.CreateCursoasignaturaTitle_curso}" required="true" requiredMessage="#{bundle.CreateCursoasignaturaRequiredMessage_curso}">
                        <f:selectItems value="#{cursoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{cursoasignaturaController.create}" value="#{bundle.CreateCursoasignaturaSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{cursoasignaturaController.prepareList}" value="#{bundle.CreateCursoasignaturaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateCursoasignaturaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
