<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCursoasignaturaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCursoasignaturaEmpty}" rendered="#{cursoasignaturaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{cursoasignaturaController.items.rowCount > 0}">
                    <h:outputText value="#{cursoasignaturaController.pagination.pageFirstItem + 1}..#{cursoasignaturaController.pagination.pageLastItem + 1}/#{cursoasignaturaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{cursoasignaturaController.previous}" value="#{bundle.Previous} #{cursoasignaturaController.pagination.pageSize}" rendered="#{cursoasignaturaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{cursoasignaturaController.next}" value="#{bundle.Next} #{cursoasignaturaController.pagination.pageSize}" rendered="#{cursoasignaturaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{cursoasignaturaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCursoasignaturaTitle_aula}"/>
                            </f:facet>
                            <h:outputText value="#{item.aula}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCursoasignaturaTitle_nifProfesor}"/>
                            </f:facet>
                            <h:outputText value="#{item.nifProfesor}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCursoasignaturaTitle_asignatura}"/>
                            </f:facet>
                            <h:outputText value="#{item.asignatura}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCursoasignaturaTitle_curso}"/>
                            </f:facet>
                            <h:outputText value="#{item.curso}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{cursoasignaturaController.prepareView}" value="#{bundle.ListCursoasignaturaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{cursoasignaturaController.prepareEdit}" value="#{bundle.ListCursoasignaturaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{cursoasignaturaController.destroy}" value="#{bundle.ListCursoasignaturaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{cursoasignaturaController.prepareCreate}" value="#{bundle.ListCursoasignaturaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCursoasignaturaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
