﻿@model IEnumerable<MVCInicial.Models.Vehiculo>

@{
    ViewBag.Title = "Listado";
}

<h1>Selecciona los filtros</h1>

    @Html.DropDownList("MarcaId", null, htmlAttributes: new { @class = "form-control", onchange="submit()"})
    @Html.DropDownList("SerieId", null, htmlAttributes: new { @class = "form-control", onchange = "submit()" })


<hr />

<h2>Listado</h2>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdSerie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Matricula)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdSerie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
