
@{
    ViewBag.Title = "DesplegableManual1";
}

<h2>DesplegableManual1</h2>

@Html.DropDownList("ListaCargadaAMano", new List<SelectListItem>
{
    new SelectListItem {Text = "Marca Falsa 1", Value = "1", Selected=true },
    new SelectListItem {Text = "Marca Falsa 2", Value = "2", Selected=false },
    new SelectListItem {Text = "Marca Falsa 3", Value = "3", Selected=false }
}
)

