﻿@model IEnumerable<MiConcesionario.Models.Marca>

@{
    ViewBag.Title = "MarcasSeriesLink";
}

<h2>MarcasSeriesLink</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Nombre, "ListarPorLinkMarca", "Serie", new { MarcaID = item.ID }, null);
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
