@{
    ViewBag.Title = "Home Page";
}

<h1>JAVIER GOZÁLEZ TELLO</h1>
<br />
<h3>Pruebas Pre-Examen</h3>
<a href="/Prueba/Index">Index 1</a>
<a href="/Prueba/Desplegar">Desplegar 1</a>
<a href="/Prueba2/Index">Index 2W</a>
<a href="/Prueba/Desplegar">Desplegar 1</a>
<h2>EXAMEN</h2>
<a href="/Cliente/Create">CLIENTES</a>
<a href="/Producto/Create">PRODUCTOS</a>
<a href="/Pedido/Create">PEDIDOS</a>