<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html">
    <h:head>
        <title>Facelet Title</title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        Hello from Facelets
        <br />
        <h:link outcome="welcomePrimefaces" value="Primefaces welcome page" />
        <br />
        <h:link outcome="/alumno/List" value="Show All Alumno Items"/>
        <br />
        <h:link outcome="/asignatura/List" value="Show All Asignatura Items"/>
        <br />
        <h:link outcome="/curso/List" value="Show All Curso Items"/>
        <br />
        <h:link outcome="/cursoasignatura/List" value="Show All Cursoasignatura Items"/>
        <br />
        <h:link outcome="/nota/List" value="Show All Nota Items"/>
        <br />
        <h:link outcome="/profesor/List" value="Show All Profesor Items"/>
    </h:body>






</html>

