@{
    ViewBag.Title = "Home Page";
}


<h1>Javi puto amo</h1>
<hr />
<h2>Marcas</h2>
<a href="/Marca/Index">Marcas: Listado</a>
<a href="/Marca/MarcasSeriesLink">Marcas: Ver para elegir sus series</a>
<hr />
<h2>Series</h2>
<a href="/Serie/Index">Series: Listado</a>
<hr />
<h2>Vehículos</h2>
<a href="/Vehiculo/Index">Vehiculos: Listado</a>
<a href="/Vehiculo/BuscarPorMatricula">Vehiculos: Buscar matrícula</a>
<a href="/Vehiculo/EncontrarPorMatricula">Vehiculos: Encontrar matrícula</a>
<a href="/Vehiculo/SeleccionarPorMatricula">Vehiculos: Seleccionar matrícula</a>
<a href="/Vehiculo/SeleccionarPorFiltros">Vehiculos: Seleccionar por filtros</a>
<hr />
<h2>Extras</h2>
<a href="/Extra/Index">Extra: Listado</a>
<hr />