﻿@model VistaControlador1.Models.Automovil

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Automovil</h4>
    <hr />
    <dl class="dl-horizontal">


        <dt>
            @Html.DisplayNameFor(model => model.Serie.Marca.Nom_marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serie.Marca.Nom_marca)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Serie.Nom_Serie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Serie.Nom_Serie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Matricula)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
