﻿@model IEnumerable<VistaControlador1.Models.Automovil>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@using (Html.BeginForm("ListadoCondicionado", "Automovil", FormMethod.Get))
{
    <form>
        <table>
            <tr>
                <td>@Html.DropDownList("marcaID", null, htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })</td>

                <td>@Html.DropDownList("serieID", null, htmlAttributes: new { @class = "form-control", onchange = "this.form.submit()" })</td>

            </tr>
        </table>
    </form>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Serie.Nom_Serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Serie.Nom_Serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
