﻿@model IEnumerable<VistaControlador1.Controllers.AutomovilController.AutomovilTotal>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<form method="get">
    <table>
        <tr>
            <td>@Html.DropDownList("colores", null, htmlAttributes: new { @class = "form-control" })</td>
            <td><input type="submit" value="Buscar" /></td>
        </tr>
    </table>
</form>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom_serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Matricula)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom_serie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Matricula)
            </td>
        </tr>
    }

</table>