<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditNotaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditNotaLabel_calificacion}" for="calificacion" />
                    <h:inputText id="calificacion" value="#{notaController.selected.calificacion}" title="#{bundle.EditNotaTitle_calificacion}" required="true" requiredMessage="#{bundle.EditNotaRequiredMessage_calificacion}"/>
                    <h:outputLabel value="#{bundle.EditNotaLabel_alumno}" for="alumno" />
                    <h:selectOneMenu id="alumno" value="#{notaController.selected.alumno}" title="#{bundle.EditNotaTitle_alumno}" required="true" requiredMessage="#{bundle.EditNotaRequiredMessage_alumno}">
                        <f:selectItems value="#{alumnoController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditNotaLabel_asignatura}" for="asignatura" />
                    <h:selectOneMenu id="asignatura" value="#{notaController.selected.asignatura}" title="#{bundle.EditNotaTitle_asignatura}" required="true" requiredMessage="#{bundle.EditNotaRequiredMessage_asignatura}">
                        <f:selectItems value="#{asignaturaController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{notaController.update}" value="#{bundle.EditNotaSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditNotaViewLink}"/>
                <br />
                <h:commandLink action="#{notaController.prepareList}" value="#{bundle.EditNotaShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditNotaIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
