﻿@model VistaControlador1.Models.MarcaModelo

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<h2 style="text-align: center">@Html.DisplayName(Model.Nom_marca)</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Serie")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.MarcaSeries) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nom_Serie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
