﻿@model ExamenJGT.Models.ClasePrueba2

@{
    ViewBag.Title = "Filtrico";
}

<h2>Filtrico</h2>

<form method="get">
    @Html.DropDownList("Objetito1");
    @Html.DropDownList("Objetito2");
    <button type="submit">Clacka</button>

</form>
<div>
    <h4>ClasePrueba2</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Puntero.Mensaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Puntero.Mensaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
