<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListLibrosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
        <h:form>
            <h:selectOneMenu id="unautor" value="#{librosController.autor}" valueChangeListener="#{librosController.obtenerLibrosAutor()}">
                <f:selectItems value="#{autoresController.itemsAvailableSelectOne}"/>
                <f:converter converterId="autoresConverter" />
            </h:selectOneMenu>
            <h:commandButton value="Selecciona" action="#{librosController.obtenerLibrosAutor}"/>
        </h:form>

        <h:form styleClass="jsfcrud_list_form">     
                <p:dataTable var="item" value="#{librosController.lista}" style="margin-bottom:40px; width: 70%; float: left" >
                    <p:column headerText="Nombre" sortBy="#{item.nomLibro}">
                        <h:outputText value="#{item.nomLibro}" style="font-weight:bold; color:#01579b; font-size: 18px" />
                    </p:column> 
                    <p:column headerText="Premios" width="200">
                        <h:selectManyListbox id="lospremios" size="2" style="overflow-y:scroll; width: 200px; border:none; font-size: small;" disabled="true">
                            <f:selectItems value="#{item.premiosList}" var="premio" itemValue="#{premio}" itemLabel="#{premio.nomPremio} " />
                        </h:selectManyListbox>
                    </p:column>  
                    <p:column headerText="Año" sortBy="#{item.ano}">
                        <h:outputText value="#{item.ano}" />
                    </p:column>
                    <p:column headerText="Portada" style="text-align: center" width="50">
                    <p:lightBox styleClass="imagebox" id="lighbox1">  
                    <h:outputLink  value="/biblioteca2/faces/javax.faces.resources/#{item.portada}?ln=Portadas" title="#{item.nomLibro} "> 
                        <h:graphicImage library="portadas" name="#{item.portada}" height="45" />
                    </h:outputLink>
                    </p:lightBox>   
                  </p:column>
                </p:dataTable>
            <p:galleria value="#{librosController.lista}" var="image" panelWidth="250" panelHeight="400" showCaption="true" style="float: right; margin-right: 70px">
                <p:graphicImage library="portadas" name="#{image.portada}" title="#{image.ano}"></p:graphicImage>
            </p:galleria>
        </h:form>        
         </ui:define>
    </ui:composition>

</html>
