<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateLibrosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <p:panel id="panel" header="Crear un nuevo libro" style="width: 55%; margin-left: auto; margin-right: auto;">
                
                
                
                
               <h:panelGrid columns="4">
                    <p:outputLabel value="Código:" for="codLibro" />
                    <p:inputText id="codLibro" value="#{librosController.selected.codLibro}" title="#{bundle.CreateLibrosTitle_codLibro}" required="true" requiredMessage="#{bundle.CreateLibrosRequiredMessage_codLibro}"/>
                    <p:outputLabel value="Título:" for="nomLibro" />
                    <p:inputText id="nomLibro" value="#{librosController.selected.nomLibro}" title="#{bundle.CreateLibrosTitle_nomLibro}" />
                    <p:outputLabel value="Año:" for="ano" />
                    <p:inputText id="ano" value="#{librosController.selected.ano}" title="#{bundle.CreateLibrosTitle_ano}" />
                    <p:outputLabel value="Portada:" for="portada" />
                    <p:inputText id="portada" value="#{librosController.selected.portada}" title="#{bundle.CreateLibrosTitle_portada}" required="true" requiredMessage="#{bundle.CreateLibrosRequiredMessage_portada}"/>
                    <p:outputLabel value="Archivo:" for="nomArchivo" />
                    <p:inputText id="nomArchivo" value="#{librosController.selected.nomArchivo}" title="#{bundle.CreateLibrosTitle_nomArchivo}" required="true" requiredMessage="#{bundle.CreateLibrosRequiredMessage_nomArchivo}"/>
                    <p:outputLabel value="Película" for="pelicula" />
                    <p:inputText id="pelicula" value="#{librosController.selected.pelicula}" title="#{bundle.CreateLibrosTitle_pelicula}" />
                    <h:outputLabel value="Autores" />
                    <h:selectManyListbox value="#{librosController.selected.autoresList}" size="5" style="width: 240px">
                        <f:selectItems value="#{autoresController.itemsAvailableSelectOne}" var="autor" itemValue="#{autor}" />
                       <f:converter converterId="autoresConverter" />
                    </h:selectManyListbox>
                    
                    <h:outputLabel value="Premios" />
                    <h:selectManyListbox value="#{librosController.selected.premiosList}" size="5" style="width: 240px">
                        <f:selectItems value="#{premiosController.itemsAvailableSelectOne}" var="libro" itemValue="#{libro}" />
                       <f:converter converterId="premiosConverter" />
                    </h:selectManyListbox>
                    
                    <h:outputLabel value="#{bundle.CreateLibrosLabel_comentario}" for="comentario" />
                    <h:inputTextarea rows="4" cols="30" id="comentario" value="#{librosController.selected.comentario}" title="#{bundle.CreateLibrosTitle_comentario}" />   
                </h:panelGrid>
                    
                </p:panel>         
                 
                <br />
                <h:commandLink action="#{librosController.create}" value="#{bundle.CreateLibrosSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{librosController.prepareList}" value="#{bundle.CreateLibrosShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateLibrosIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
