<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCursoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCursoEmpty}" rendered="#{cursoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{cursoController.items.rowCount > 0}">
                    <h:outputText value="#{cursoController.pagination.pageFirstItem + 1}..#{cursoController.pagination.pageLastItem + 1}/#{cursoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{cursoController.previous}" value="#{bundle.Previous} #{cursoController.pagination.pageSize}" rendered="#{cursoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{cursoController.next}" value="#{bundle.Next} #{cursoController.pagination.pageSize}" rendered="#{cursoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{cursoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCursoTitle_codCurso}"/>
                            </f:facet>
                            <h:outputText value="#{item.codCurso}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCursoTitle_nomCurso}"/>
                            </f:facet>
                            <h:outputText value="#{item.nomCurso}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{cursoController.prepareView}" value="#{bundle.ListCursoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{cursoController.prepareEdit}" value="#{bundle.ListCursoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{cursoController.destroy}" value="#{bundle.ListCursoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{cursoController.prepareCreate}" value="#{bundle.ListCursoCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCursoIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
